* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f8fc;
  overflow: hidden;
}
a {
  cursor: pointer;
  color: inherit;
  display: inline-block;
  text-decoration: none;
  &:hover {
    color: #1966ff !important;
  }
}
.svg-icon:focus {
  outline: none;
}
ul,
dl,
dt,
dd,
p {
  margin: 0;
}
ul,
li {
  list-style-type: none;
}
input {
  outline: none;
  -webkit-apperance: none;
}
ul,
dl,
dt,
dd {
  padding: 0;
}
img {
  max-width: 100%;
}
.text-underline:hover {
  text-decoration: underline;
}
h3.section-title {
  margin: 0;
  padding-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
  color: #12141a;
}
h3.page-title {
  margin: 0 0 24px 0;
  padding-bottom: 22px;
  color: var(--color-text-1);
  font-weight: 500;
  line-height: 1;
  border-bottom: 1px solid var(--color-neutral-3);
}
.affix-container-ref {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

// 加载进度条
#nprogress .bar {
  background: #1966ff !important;
}

// 超出指定行数省略号
@mixin line-clamp($number) {
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: $number;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
// 文本溢出隐藏
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/** 
 * 动画效果
*/
.ant-card-hoverable:hover {
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 48%), 0 6px 16px 0 rgb(0 0 0 / 32%), 0 9px 28px 8px rgb(0 0 0 / 20%);
}

// .empty-tabs
.empty-tabs {
  display: flex;
  .left,
  .right {
    padding: 3.5px 9px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: #55585c;
    border: 1px solid #dcdee1;
    cursor: pointer;
  }
  .left {
    border-radius: 4px 0 0 4px;
    &.active {
      border-color: #1966ff;
      color: #1966ff;
    }
  }
  .right {
    border-radius: 0 4px 4px 0;
    &.active {
      border-color: #1966ff;
      color: #1966ff;
    }
  }
}
