.arco-table .arco-table-cell {
  padding: 16px;
}
.arco-table-tr-empty .arco-table-td {
  border-bottom: none !important;
}

.l-table-edit {
  .arco-form-item {
    margin-bottom: 0;
  }
  .arco-form-item-label-col {
    padding-right: 8px;
  }
  .arco-form-item-message {
    display: none;
  }
  .arco-form-item-label-required-symbol {
    position: relative;
    top: -2px;
  }
}
